.token-action-hud-shadowrun6.item-chat h2 {
    margin: 0 0 0.5rem;
}

.token-action-hud-shadowrun6.item-chat div {
    line-height: 1.35;
}

.tah-style-shadowrun6-style .tah-action-set .tah-action button {
    text-transform: none;
}
